*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  background: #eee;
}

.box {
  width: 100px;
  height: 100px;
  background: lightblue;
  margin: 5px;
  text-align: center;
  line-height: 100px;
}
